.education-container {
    background-color: palevioletred;
    height: 100vh;
    /* border: 1px solid green; */

}

.vertical-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#education-section {
    padding: 5% 0 0 0;
}

#change-content {
    padding: 20px;
}


h1 {
    text-align: center;
}