.navbar {   
    position: fixed;
    background-color: #eee;
    width: 100%;
    bottom: 0;
    height: 8.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-icon{
      height: 3vh;
      width: 3vh;
      padding-top: 4px;
      display: block;
      margin-left: auto;
      margin-right: auto; 

 
  }

  .nav-item {
      display:flex;
      flex-direction: column;
  }